<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inventory.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=kono-pc;Initial Catalog=Inventory;Persist Security Info=True;User ID=Inventory;Password=Inv23459876;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.InventoryConnectionString1"
            connectionString="Data Source=KONO-PC;Initial Catalog=Inventory;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Inventory.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
        </Inventory.Properties.Settings>
    </userSettings>
</configuration>